<!DOCTYPE html>
<html>
  <head>
    <title>Grant Consent</title>
  </head>
  <body>
    The application <strong>{{client.client_name}}</strong> wants access to the
    following things:

    <form action="{% url 'decide' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="consent" value="{{consent_request.id}}">
      <ul style="list-style-type: none">
      {% for scope in novel_scopes %}
        <li>
          <input id="scope.{{forloop.counter}}" type="checkbox" checked
              value="{{scope.scope}}" name="granted_scopes">
          <label for="scope.{{forloop.counter}}">
            {{scope.description}}
          </label>
        </li>
      {% endfor %}
      </ul>
      {% if previously_granted_scopes %}
        <p>You have previously authorized access to the following:</p>
        <ul>
          {% for scope in previously_granted_scopes %}
            <li>{{scope.description}}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div style="text-align: center;">
        <input type="submit" name="decision" value="Accept">
        <input type="submit" name="decision" value="Reject">
      </div>
    </form>
  </body>
</html>
